table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #E0E0E0;
}

td:nth-child(3) {
  font-weight: bold;
}

td.total {
  background-color: #FF9800;
  color: white;
}
